<table mat-table [dataSource]="dataSource">
  <mat-text-column name="id"></mat-text-column>
  <mat-text-column name="name"></mat-text-column>
  <mat-text-column name="timeslot"></mat-text-column>

  <ng-container matColumnDef="price">
  <th mat-header-cell *matHeaderCellDef>Price</th>
  <td mat-cell *matCellDef="let item"> {{item.price | currency:"USD"}} </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let p">
  <button mat-flat-button color="accent"
  (click)="deleteConservationArea(p.id)">
  Delete
  </button>
  <button mat-flat-button color="warn"
    [routerLink]="['/admin/main/conservationArea/edit', p.id]">
    Edit
    </button>
    </ng-container>